---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogCard from "@components/blog/BlogCard.astro";
import Container from "@components/utils/Container.astro";
import { getCollection } from "astro:content";
import H1 from "@components/typography/H1.astro";
import HeroTitle from "@components/typography/HeroTitle.astro";
import FancyText from "@components/typography/FancyText.astro";
const posts = await getCollection("blog", (p) => p.data.published === true);
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout metaTitle="Blog - andberry.me">
  <article class="py-8 xl:py-12 2xl:py-24">
    <Container size="xl">
      <header>
        <HeroTitle>
          <FancyText variant="gradientPink">Berry's Blog</FancyText>
        </HeroTitle>
      </header>
      <section class="pt-8">
        {
          posts && (
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-16 gap-y-20">
              {posts.map((post) => (
                <BlogCard
                  title={post.data.title}
                  url={`/blog/${post.id}`}
                  heroImage={post.data.heroImage}
                  tags={post.data.tags}
                />
              ))}
            </div>
          )
        }
      </section>
    </Container>
  </article>
</BaseLayout>
