---
export interface Props {
  size?: "small" | "medium" | "large";
}

const fontSizeMap: { [key in typeof size]: string } = {
  small: "text-sm xl:text-base/[1.6]",
  medium: "text-lg xl:text-xl/[1.5]",
  large: "text-2xl xl:text-3xl/[1.4]",
};
const { size = "medium" } = Astro.props;
---

<div class:list={[fontSizeMap[size], "pb-4 font-extralight"]}>
  <slot />
</div>
