---
export interface Props {
  size?: "small" | "medium" | "large";
}

const fontSizeMap: { [key in typeof size]: string } = {
  small: "text-sm",
  medium: "text-xl",
  large: "text-2xl",
};
const { size = "medium" } = Astro.props;
---

<div class:list={["leading-[1.6] font-light", fontSizeMap[size], "pb-4"]}>
  <slot />
</div>
