---
export interface Props {
  size?: "small" | "medium" | "large";
  additionalClass?: string;
}

const fontSizeMap: { [key in typeof size]: string } = {
  small: "text-sm xl:text-base/[1.6]",
  medium: "text-lg xl:text-[22px]/[1.4] font-[200]",
  large: "text-2xl/tight xl:text-[32px] 3xl:text-[36px]",
};
const { size = "medium", additionalClass } = Astro.props;
---

<div class:list={[fontSizeMap[size], additionalClass, "pb-4 font-[100]"]}>
  <slot />
</div>
