---
export interface Props {
  size?: "small" | "medium" | "large";
}

const fontSizeMap: { [key in typeof size]: string } = {
  small: "text-sm",
  medium: "text-xl",
  large: "text-2xl",
};
const { size = "medium" } = Astro.props;
---

<div
  class:list={[
    "leading-relaxed font-light font-merryweather",
    fontSizeMap[size],
    "pb-4",
  ]}
>
  <slot />
</div>
