---
interface Props {
  name: string;
  color?: "pink" | "purple" | "green";
  additionalClasses?: string;
}
const { name, color = "purple", additionalClasses = "" } = Astro.props;
let colorClass = "";
let textColorClass = "";
switch (color) {
  case "green":
    colorClass = "u-border-gradient-lime";
    textColorClass = "u-text-bg-gradient-lime";
    break;
  case "pink":
    colorClass = "u-border-gradient-pink";
    textColorClass = "text-pink3";
    break;
  case "purple":
    colorClass = "u-border-gradient-purple";
    textColorClass = "text-white";
    break;
  default:
    break;
}
---

<div
  class:list={[
    "rounded-sm inline-flex items-center justify-center py-3 leading-tight text-center font-light",
    colorClass,
    additionalClasses,
    "skill-grid-item",
  ]}
>
  <span class={textColorClass}>{name}</span>
</div>
