---
import HeroTitle from "@components/typography/HeroTitle.astro";
import Copy from "@components/typography/Copy.astro";
import H1 from "@components/typography/H1.astro";
import H2 from "@components/typography/H2.astro";
import H3 from "@components/typography/H3.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/utils/Container.astro";
import BlogCard from "@components/blog/BlogCard.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
---

<BaseLayout metaTitle="Kitchen sink | andberry.me">
  <article class="pb-24">
    <header>
      <Container size="lg">
        <div class="pt-32 pb-8 2xl:pt-48">
          <HeroTitle>Kitchen Sink</HeroTitle>
        </div>
      </Container>
    </header>

    <section>
      <Container size="lg">
        <div class="mb-24">
          <H2 class="mb-4">Colors</H2>
          <div
            class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8 mb-8"
          >
            <div>
              <div class="bg-white border border-black0 h-48"></div>
              <div class="mt-2">white</div>
            </div>
            <div>
              <div class="bg-black0 h-48"></div>
              <div class="mt-2">black0</div>
            </div>
            <div>
              <div class="bg-raisingBlack h-48"></div>
              <div class="mt-2">raisingBlack</div>
            </div>

            <div>
              <div class="bg-lightgray h-48"></div>
              <div class="mt-2">lightgray</div>
            </div>

            <div>
              <div class="bg-mediumgray h-48"></div>
              <div class="mt-2">mediumgray</div>
            </div>
          </div>
          <div
            class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8 mb-8"
          >
            <div>
              <div class="bg-ultraviolet h-48"></div>
              <div class="mt-2">ultraviolet</div>
            </div>

            <div>
              <div class="bg-purple h-48"></div>
              <div class="mt-2">purple</div>
            </div>

            <div>
              <div class="bg-white h-48"></div>
              <div class="mt-2">white</div>
            </div>

            <div>
              <div class="bg-white2 h-48"></div>
              <div class="mt-2">white2</div>
            </div>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8">
            <div>
              <div class="bg-grassGreen h-48"></div>
              <div class="mt-2">grassGreen</div>
            </div>

            <div>
              <div class="bg-lime h-48"></div>
              <div class="mt-2">lime</div>
            </div>

            <div>
              <div class="bg-greenyellow h-48"></div>
              <div class="mt-2">greenyellow</div>
            </div>

            <div>
              <div class="bg-lightgreen h-48"></div>
              <div class="mt-2">lightgreen</div>
            </div>
          </div>
        </div>
      </Container>
    </section>

    <section>
      <Container size="lg">
        <H2>Typography</H2>
        <HeroTitle>This is HeroTitle</HeroTitle>
        <H1>This is Heading1</H1>
        <H2>This is Heading2</H2>
        <H3>This is Heading3</H3>

        <Copy size="small">
          <b>This is Copy small</b> Dicta culpa facilis tempore veniam aliquam nihil
          sed porro et aut enim vero repudiandae excepturi qui vel exercitationem
          tempore molestiae rerum sequi dolor quaerat laborum quis laboriosam dolor
          cumque velit voluptatem necessitatibus velit repellendus perferendis provident
          sed quibusdam et aspernatur excepturi maxime veniam assumenda non doloribus
          et vitae qui et facilis vel sequi animi perferendis.
        </Copy>
        <Copy size="medium">
          This is Copy medium (default) Dicta culpa facilis tempore veniam
          aliquam nihil sed porro et aut enim vero repudiandae excepturi qui vel
          exercitationem tempore molestiae rerum sequi dolor quaerat laborum
          quis laboriosam dolor cumque velit voluptatem necessitatibus velit
          repellendus perferendis provident sed quibusdam et aspernatur
          excepturi maxime veniam assumenda non doloribus et vitae qui et
          facilis vel sequi animi perferendis.
        </Copy>
        <Copy size="large">
          This is Copy large Dicta culpa facilis tempore veniam aliquam nihil
          sed porro et aut enim vero repudiandae excepturi qui vel
          exercitationem tempore molestiae rerum sequi dolor quaerat laborum
          quis laboriosam dolor cumque velit voluptatem necessitatibus velit
          repellendus perferendis provident sed quibusdam et aspernatur
          excepturi maxime veniam assumenda non doloribus et vitae qui et
          facilis vel sequi animi perferendis.
        </Copy>

        <H2 class="mb-6">Berry's Blog</H2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-8 gap-y-20"
        >
          {
            blogPosts
              .slice(0, 4)
              .map((post) => (
                <BlogCard
                  title={post.data.title}
                  url={`/blog/${post.slug}`}
                  heroImage={post.data.heroImage}
                  tags={post.data.tags}
                />
              ))
          }
        </div>
      </Container>
    </section>

    <section>
      <H2>Containers</H2>
      <Container size="xs">
        <div class="py-12">
          <div class="border border-[white]">Container xs</div>
        </div>
      </Container>

      <Container size="sm">
        <div class="py-12">
          <div class="border border-[white]">Container sm</div>
        </div>
      </Container>

      <Container size="md">
        <div class="py-12">
          <div class="border border-[white]">Container md</div>
        </div>
      </Container>

      <Container size="lg">
        <div class="py-12">
          <div class="border border-[white]">Container lg</div>
        </div>
      </Container>

      <Container size="xl">
        <div class="py-12">
          <div class="border border-[white]">Container xl</div>
        </div>
      </Container>

      <Container size="fluid">
        <div class="py-12">
          <div class="border border-[white]">Container fluid</div>
        </div>
      </Container>
    </section>
  </article>
</BaseLayout>
