---
import HeroTitle from "@components/typography/HeroTitle.astro";
import Copy from "@components/typography/Copy.astro";
import H1 from "@components/typography/H1.astro";
import H2 from "@components/typography/H2.astro";
import H3 from "@components/typography/H3.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/utils/Container.astro";
import BlogCard from "@components/blog/BlogCard.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
---

<BaseLayout>
  <article class="py-16">
    <Container size="medium">
      <HeroTitle>This is HeroTitle</HeroTitle>
      <H1>This is Heading1</H1>
      <H2>This is Heading2</H2>
      <H3>This is Heading3</H3>

      <H1 as="h6" class="uppercase text-pink2">
        This is Heading1 as h6, uppercase color-pink2
      </H1>
      <H2 as="h4" class="font-thin">This is Heading2 as h4 font-thin</H2>
      <H3 as="h1" class="text-[tomato]">
        This is Heading3 as h1 text-[tomato]
      </H3>

      <Copy size="small">
        <b>This is Copy small</b> Dicta culpa facilis tempore veniam aliquam
        nihil sed porro et aut enim vero repudiandae excepturi qui vel
        exercitationem tempore molestiae rerum sequi dolor quaerat laborum quis
        laboriosam dolor cumque velit voluptatem necessitatibus velit
        repellendus perferendis provident sed quibusdam et aspernatur excepturi
        maxime veniam assumenda non doloribus et vitae qui et facilis vel sequi
        animi perferendis.
      </Copy>
      <Copy size="medium">
        This is Copy medium (default) Dicta culpa facilis tempore veniam aliquam
        nihil sed porro et aut enim vero repudiandae excepturi qui vel
        exercitationem tempore molestiae rerum sequi dolor quaerat laborum quis
        laboriosam dolor cumque velit voluptatem necessitatibus velit
        repellendus perferendis provident sed quibusdam et aspernatur excepturi
        maxime veniam assumenda non doloribus et vitae qui et facilis vel sequi
        animi perferendis.
      </Copy>
      <Copy size="large">
        This is Copy large Dicta culpa facilis tempore veniam aliquam nihil sed
        porro et aut enim vero repudiandae excepturi qui vel exercitationem
        tempore molestiae rerum sequi dolor quaerat laborum quis laboriosam
        dolor cumque velit voluptatem necessitatibus velit repellendus
        perferendis provident sed quibusdam et aspernatur excepturi maxime
        veniam assumenda non doloribus et vitae qui et facilis vel sequi animi
        perferendis.
      </Copy>

      <H2 class="mb-6">Blog</H2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-8 gap-y-20"
      >
        {
          blogPosts.map((post) => (
            <BlogCard
              title={post.data.title}
              url={`/blog/${post.slug}`}
              heroImage="https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXJ0fGVufDB8fDB8fHww"
              tags={post.data.tags}
            />
          ))
        }
      </div>
    </Container>
  </article>
</BaseLayout>
