---
import HeroTitle from "@components/typography/HeroTitle.astro";
import Container from "@components/utils/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import skillsData from "@config/skills.json";
import H3 from "@components/typography/H3.astro";
import TechIcon from "@components/TechIcon.astro";
import FancyText from "@components/typography/FancyText.astro";
---

<BaseLayout metaTitle="Skills - andberry.me">
  <article class="py-24">
    <header class="pb-8">
      <Container size="lg">
        <HeroTitle>
          <FancyText variant="gradientPink">Skills and Tech</FancyText>
        </HeroTitle>
      </Container>
    </header>
    <section>
      <Container size="lg" additionalClasses="@container/skills">
        <div
          class="@xs/skills:grid @xs/skills:grid-cols-2 @lg/skills:grid-cols-4 gap-12"
        >
          {
            skillsData.map((item) => (
              <div class="mb-12">
                <H3 class="mb-3 dark:text-white text-black0">{item.title}</H3>
                <ul>
                  {item.skills.map((item) => (
                    <li class="py-2 dark:font-thin font-light">{item}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </Container>
    </section>

    <section class="py-16 xl:py-8 dark:text-white dark:fill-white text-black0">
      <Container size="md" additionalClasses="@container/skillsicons">
        <H3 class="text-center text-2xl mb-8 dark:u-text-bg-gradient-pink-2">
          What I use on a daily basis
        </H3>
        <div
          class="grid grid-cols-3 @2xs/skillsicons:grid-cols-4 @sm/skillsicons:grid-cols-6 gap-12"
        >
          <TechIcon icon="simple-icons:react" title="React" />
          <TechIcon icon="logos:nextjs-icon" title="Nextjs" />
          <TechIcon icon="mdi:tailwind" title="TailwindCSS" />
          <TechIcon icon="mdi:language-typescript" title="TypeScript" />
          <TechIcon icon="mdi:language-javascript" title="JavaScript" />
          <TechIcon icon="simple-icons:storybook" title="Storybook" />
          <TechIcon icon="simple-icons:vuejs" title="Vue.js" />
          <TechIcon icon="simple-icons:nuxtdotjs" title="Nuxt" />
          <TechIcon icon="simple-icons:html5" title="Html5" />
          <TechIcon icon="simple-icons:css3" title="CSS3" />
          <TechIcon icon="simple-icons:drupal" title="Drupal" />
          <TechIcon icon="simple-icons:docker" title="DDEV" />
          <TechIcon icon="simple-icons:git" title="Git" />
          <TechIcon icon="simple-icons:jira" title="Jira" />

          <TechIcon icon="simple-icons:notion" title="Notion" />
          <TechIcon icon="simple-icons:slack" title="Slack" />
          <TechIcon icon="simple-icons:figma" title="Figma" />
          <TechIcon icon="wpf:macos" title="MacOS" />
        </div>
      </Container>
    </section>
    <section class="py-8 xl:py-8 dark:text-white dark:fill-white text-black0">
    </section>

    <Container size="md" additionalClasses="@container/skillsicons2">
      <H3 class="text-center text-2xl mb-8 dark:u-text-bg-gradient-pink">
        What I use less frequently
      </H3>
      <div
        class="grid grid-cols-3 @2xs/skillsicons2:grid-cols-4 @sm/skillsicons2:grid-cols-6 gap-12"
      >
        <TechIcon icon="simple-icons:wordpress" title="WordPress" />
        <TechIcon icon="simple-icons:astro" title="Astro" />
        <TechIcon icon="simple-icons:eleventy" title="11ty" />
        <TechIcon icon="simple-icons:statamic" title="Statamic" />
        <TechIcon icon="simple-icons:craftcms" title="CraftCMS" />
        <TechIcon icon="simple-icons:processwire" title="ProcessWire" />
        <TechIcon icon="simple-icons:php" title="PHP" />
        <TechIcon icon="file-icons:twig" title="Twig" />
        <TechIcon icon="simple-icons:greensock" title="GSAP" />

        <TechIcon icon="simple-icons:python" title="Python" />
        <TechIcon icon="simple-icons:django" title="Django" />
        <TechIcon icon="simple-icons:adobexd" title="Adobe XD" />
        <TechIcon icon="simple-icons:trello" title="Trello" />
        <TechIcon icon="simple-icons:linux" title="Linux" />
      </div>
    </Container>
  </article>
</BaseLayout>
