---
import Container from "@components/utils/Container.astro";
---

<footer class="bdark:bg-black dark:text-white text-sm py-4" transition:persist>
  <Container size="fluid">
    <div class="flex justify-between items-center">
      <div>
        Designed and built by Berry (Andrea Berardi) with <a
          class="underline underline-offset-4 hover:text-pink transition-all ease-linear duration-150"
          href="https://astro.build/"
          target="_blank">Astro</a
        > and <a
          class="underline underline-offset-4 hover:text-pink transition-all ease-linear duration-150"
          href="https://tailwindcss.com/"
          target="_blank">TailwindCSS</a
        >.
      </div>
      <div></div>
    </div>
  </Container>
</footer>
