---
import Container from "@components/utils/Container.astro";
import MobileNav from "@components/MobileNav.astro";
import DesktopNav from "@components/DesktopNav.astro";
import { Image } from "astro:assets";
import berryTwitterImg from "@images/berry-twitter.jpg";
import SocialLinks from "@components/SocialLinks.astro";
import ThemeSwitch from "@components/ThemeSwitch.astro";
---

<header
  id="page-header"
  class:list={[
    "fixed top-0 left-0 w-full h-20 z-50",
    "flex items-center",
    "bg-white text-black0",
    "dark:text-white dark:bg-black/85",
    "backdrop-blur",
  ]}
  transition:persist
  transition:animate="none"
>
  <Container size="fluid" additionalClasses="w-full">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-6">
        <div class="w-12 overflow-hidden h-12">
          <a href="/" class="block js-logoLink">
            <Image
              src={berryTwitterImg}
              alt="Berry"
              class="rounded-md"
              widths={[48, 96]}
              sizes="48px"
            />
          </a>
        </div>
        <DesktopNav />
      </div>
      <div class="gap-7 items-center hidden lg:flex">
        <SocialLinks />
        <ThemeSwitch />
      </div>
      <MobileNav />
    </div>
  </Container>
</header>
