---
import Container from "../utils/Container.astro";
import DesktopNav from "../DesktopNav.astro";
---

<header class="py-4 bg-purple text-white">
  <Container>
    <div class="flex justify-between">
      <DesktopNav />
    </div>
  </Container>
</header>
