---
import Container from "@components/utils/Container.astro";
import DesktopNav from "@components/DesktopNav.astro";
import { Image } from "astro:assets";
import berryTwitterImg from "@images/berry-twitter.jpg";
import SocialLinks from "@components/SocialLinks.astro";
import ThemeSwitch from "@components/ThemeSwitch.astro";
---

<header
  class="fixed top-0 left-0 w-full z-50
bg-white text-black0 dark:bg-black dark:text-white"
>
  <Container size="fluid">
    <div class="h-20 flex justify-between items-center">
      <div class="flex items-center gap-6">
        <div class="w-12">
          <Image
            src={berryTwitterImg}
            alt="Berry"
            class="rounded-md"
            widths={[48, 96, 192]}
            sizes="48px"
          />
        </div>
        <DesktopNav />
      </div>
      <div class="flex gap-8">
        <SocialLinks />
        <ThemeSwitch />
      </div>
    </div>
  </Container>
</header>
