---
import { nav } from "@config/nav";
const currentPathname: string = Astro.url.pathname;
---

<nav id="desktop-main-nav" class="hidden lg:block">
  <ul class="flex">
    {
      nav.map((link) => (
        <li>
          <a
            href={link.url}
            class:list={[
              "py-2 px-6 font-normal dark:font-light uppercase hover:text-purple dark:hover:text-greenyellow block invisible",
              {
                "dark:text-greenyellow text-purple":
                  link.url === currentPathname ||
                  (link.url !== "/" && currentPathname.startsWith(link.url)),
              },
              "link",
            ]}
          >
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
