---
import { nav } from "@config/nav";
const currentPathname: string = Astro.url.pathname;
---

<nav id="desktop-nav" class="hidden lg:block">
  <ul class="flex">
    {
      nav.map((item) => (
        <li>
          <a
            class:list={[
              "py-2 px-6 text-lg font-normal dark:font-light uppercase hover:text-purple dark:hover:text-greenyellow transition-all ease-linear duration-150",
              {
                "dark:text-greenyellow text-purple":
                  currentPathname === item.url ||
                  (item.url !== "/" && currentPathname.startsWith(item.url)),
              },
              "navLink",
            ]}
            href={item.url}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document.addEventListener("astro:after-swap", () => {
    const currentUrl = window.location.href;
    const links = document.querySelectorAll(".navLink");
    for (const link of Array.from(links) as HTMLAnchorElement[]) {
      link.classList.remove("dark:text-greenyellow", "text-purple");
      if (link.href === currentUrl) {
        link.classList.add("dark:text-greenyellow", "text-purple");
      }
    }
  });
</script>
