---
import { nav } from "@config/nav";
const currentPathname: string = Astro.url.pathname;
---

<nav id="desktop-nav" class="hidden lg:block">
  <ul class="flex">
    {
      nav.map((item) => (
        <li>
          <a
            class:list={[
              "py-2 px-6 text-lg font-light uppercase hover:text-purple dark:hover:text-greenyellow transition-all ease-linear duration-150",
              {
                "dark:text-greenyellow text-purple":
                  currentPathname === item.url ||
                  (item.url !== "/" && currentPathname.startsWith(item.url)),
              },
            ]}
            href={item.url}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
