---
import { links } from "@config/links";
import { Icon } from "astro-icon";
---

<nav>
  <ul class="flex items-center">
    {
      links.map((item) => {
        return (
          <li>
            <a
              class:list={[
                "block px-4 py-2  leading-none transition-all ease-linear duration-150",
                "dark:text-white dark:hover::text-greenyellow",
                "text-black0 hover:text-purple dark:hover:text-greenyellow",
              ]}
              href={item.url}
              target="_blank"
            >
              <span class="sr-only">{item.name}</span>
              <Icon class="w-7" name={item.iconName} />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
