---
import { Icon } from "astro-icon";
import { ThemeSwitch as ReactThemeSwitch } from "@components/ThemeSwitch.jsx";
---

<div class="flex gap-2 items-center">
  <Icon class="w-4" name="ri:sun-fill" />
  <ReactThemeSwitch client:only="react" transition:persist />
  <Icon class="w-4" name="ri:moon-fill" />
</div>
