---
export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div
  class="text-xs font-light px-2 py-2 rounded-sm leading-none uppercase
  text-raisingBlack bg-lightgray dark:bg-raisingBlack dark:text-darkgray"
>
  {name}
</div>
