---
export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div
  class="text-xs font-light px-2 py-0 h-7 inline-flex items-center rounded-sm leading-none uppercase
  text-darkgray bg-lightgray dark:bg-darkgray dark:text-gray"
>
  {name}
</div>
