---
import Header from "@components/base/Header.astro";
import Footer from "@components/base/Footer.astro";
import { pageAnimations } from "@utils/animations";
import { ClientRouter } from "astro:transitions";
import "@styles/base.css";

export interface Props {
  metaTitle: string;
}

const { metaTitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark scroll-smooth" transition:animate={pageAnimations}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;700;800;900&family=JetBrains+Mono:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <title>{metaTitle}</title>
    <script>
      /**
       * Website theme (dark/light) is implemented using
       * - class on <html>: dark for dark theme, nothing for light theme
       * - localstorage: set user preference
       * - ThemeSwitch.jsx: toggle dark class on <html>, set user preference in localstorage
       *
       * We default to dark theme:
       * by default dark class is on <html>, if user has light preference we remove it
       */
      const setTheme = () => {
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme") === "light"
          ? document.documentElement.classList.remove("dark")
          : localStorage.setItem("theme", "dark");
      };

      /**
       * When NOT using View Transition: is:inline is required on <script> tag
       * to run this code immediately, and not wait for HTML to be processed
       *
       * When Using View Transition: don't use is:inline and hook into lifecycle events
       * Using astro:after-swap event is strongly recommended
       * to prevent theme flashing during page load
       */
      document.addEventListener("astro:after-swap", () => {
        setTheme();
      });

      // we also want to check theme once during first page load
      setTheme();
    </script>
    <ClientRouter />
  </head>
  <body class="font-exo2 font-extralight dark:bg-black dark:text-white">
    <div class="pt-20 relative">
      <a
        href="#page-content"
        class="fixed top-0 -translate-y-full focus:translate-y-0 left-1/2 -translate-x-1/2 px-4 py-2 z-[100] duration-500 ease-OutQuart transition-all"
      >
        Skip to page content
      </a>
      <Header />

      <main id="page-content">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
