---
import Container from "@components/utils/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroTitle from "@components/typography/HeroTitle.astro";
const { title } = Astro.props;
---

<BaseLayout>
  <article>
    <header class="py-12 xl:py-16 bg-pink text-grassGreen">
      <Container>
        <HeroTitle>{title}</HeroTitle>
      </Container>
    </header>
    <div class="py-12 xl:py-24">
      <Container size="small">
        {/*<div class="text-xl font-light leading-relaxed">*/}
        <div class="text-lg font-light leading-loose font-merryweather">
          <slot />
        </div>
      </Container>
    </div>
  </article>
</BaseLayout>
