---
import Container from "@components/utils/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroTitle from "@components/typography/HeroTitle.astro";
const { title } = Astro.props;
---

<BaseLayout>
  <article>
    <header class="py-12 xl:py-16 bg-pink">
      <Container>
        <HeroTitle as="h1" class="text-grassGreen">{title}</HeroTitle>
      </Container>
    </header>
    <div class="py-12 xl:py-24">
      <Container size="small">
        <div class="text-lg font-light leading-loose font-merryweather">
          <div
            class='prose xl:prose-xl prose-lg
                            prose-neutral
                            prose-blockquote:text-white prose-a:dark:text-white prose-a:text-black
                            prose-strong:dark:text-white2 text-black
                            prose-headings:text-pink2
                            prose-headings:relative
                            prose-headings:before:block prose-headings:before:absolute prose-headings:before:-left-4 prose-headings:before:top-0 prose-headings:before:content-[""] prose-headings:before:w-1 prose-headings:before:h-full prose-headings:before:bg-purple
                            xl:prose-headings:mt-20 prose-headings:mb-3 prose-headings:ml-4
                            prose-code:text-white2 prose-code:text-sm prose-pre:leading-none'
          >
            <slot />
          </div>
        </div>
      </Container>
    </div>
  </article>
</BaseLayout>
