---
interface Props {
  size?: "small" | "medium" | "large" | "fluid";
  additionalClasses?: string;
}
const { size = "large", additionalClasses = "" } = Astro.props;
const sizeClassMap = {
  small: "max-w-screen-md lg:px-0",
  medium: "max-w-screen-xl",
  large: "max-w-screen-3xl",
  fluid: "max-w-none",
};
---

<div class=`${sizeClassMap[size]} mx-auto px-8 ${additionalClasses}`>
  <slot />
</div>
