---
interface Props {
  size?: "sm" | "md" | "lg" | "xl" | "fluid";
  additionalClasses?: string;
}
const { size = "lg", additionalClasses = "" } = Astro.props;
const sizeClassMap = {
  sm: "max-w-screen-md lg:px-0",
  md: "max-w-screen-xl",
  lg: "max-w-screen-2xl",
  xl: "max-w-screen-3xl",
  fluid: "max-w-none",
};
---

<div class=`${sizeClassMap[size]} mx-auto px-8 ${additionalClasses}`>
  <slot />
</div>
