---
interface Props {
  size?: "xs" | "sm" | "md" | "lg" | "xl" | "fluid";
  additionalClasses?: string;
}
const { size = "lg", additionalClasses = "" } = Astro.props;
const sizeClassMap = {
  xs: "max-w-screen-sm px-8",
  sm: "max-w-screen-md px-8",
  md: "max-w-screen-lg px-8 md:px-10",
  lg: "max-w-screen-xl px-8 md:px-10 xl:px-14",
  xl: "max-w-screen-3xl px-8 md:px-10 xl:px-14",
  fluid: "max-w-none px-8",
};
---

<div class=`${sizeClassMap[size]} mx-auto ${additionalClasses}`>
  <slot />
</div>
